body{
    background-color: rgb(241, 222, 199);
    margin: 0px auto;
    padding: 0px;
    font-family: 'Mali', cursive; 
}
#app{
    margin: 0px;
    padding: 0px;
}

 img {
    width: 10px;
    margin: 10px auto;
    padding: 20px;
}
h5{
    color: rgb(233, 74, 25);
}
 i {
    color: rgb(28, 129, 28);
    font-size: medium;
}
.card-group{
    background-color: rgb(241, 222, 199);
}
.card-img-top{
    padding: 10px;
    background-color: rgb(241, 222, 199);
    border-radius: 5px;
}
.dolar{
    display: inline-block;
    color: rgb(35, 14, 95);
    
}
.flex{
    display: flex;

}
.sidebar {
    width: 14rem;
    height: calc(100vh - 60px);
    border-right: 1px solid gray;
}
div ul {
    list-style: none;
    padding: 1rem 2rem;
}
div ul li{
  margin-bottom: 1rem;
}
div ul li a{
    text-decoration: none;
}
.content{
    width: calc(100vw - 14rem);
}
.card-group{
    width: calc(100vw - 14rem);
}
.btn{
    width: auto;
}
