body{
    background-color: rgb(241, 222, 199);
    margin: 0px auto;
    padding: 0px;
    font-family: 'Mali', cursive; 
  
   
}
#app{
    margin: 0px;
    padding: 0px;
}
.flex{
    display: flex;

}
 img {
    width: 10px;
    margin: 20px auto;
    padding: 30px;
}
h5{
    color: rgb(233, 74, 25);
}
 i {
    color: rgb(28, 129, 28);
    font-size: medium;
}

footer{
    
    border-right: 2px solid rgb(121, 38, 86);
 
    
}
.card-group{
     /* width: calc(100vw - 50%); */
    background-color: rgb(241, 222, 199);
    margin: 20px auto;
  
}
.card-img-top{
    padding: 10px;
    background-color: rgb(241, 222, 199);
    border-radius: 5px;
}

.sidebar {
    /* width: 13rem;
    height: calc(100vh); */
    width:12%;
  height: calc(90vh - 20px);
    border-right: 2px solid rgb(121, 38, 86);
   color: rgb(121, 38, 86); 
    position: fixed;
  top: 11%;
  left: 0;
}
div ul {
    list-style: none;
    padding: 1rem 2rem;
}
div ul li{
  margin-bottom: 1rem;
}
div ul li a{
    text-decoration: none;
}
.content{
    /* width: calc(100vw - 14rem); */
    width: calc(90vw - 20%);
    min-height: calc(100vh - 234px);
    /* position: relative; */
    top: 0%;
    left: 15%;
    margin-left: 14%;
    
    
   
}
.card-group{
    margin-left: 250px;
    width: calc(100vw - 300px);
    max-height: calc(100vh - 200px);
}
.btn{
    width: auto;
}
.enlinea{
    display: inline-block;
}
.titulo{
    margin-left: 0px;
    position: relative;
    color:  rgb(121, 38, 86);;
}
/* .pie{
    margin-bottom: 0px;
} */
.container{
    margin: 0px;
    width: auto;
}
.logo{
    width: 70px;
    height: 70px;
    padding: 0px;
    border-radius: 75%;
    background-color: rgb(241, 222, 199);
    margin: auto;
}
.logo-social{
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 2px auto;
    
}
.logoText{
    /* color:rgb(231, 102, 16); */
    color: rgb(241, 222, 199);
    border-radius: 50%;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 50px;
   
}